<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
  </div>
  
  <div class="span4">
	
	<img class="alignright" alt="John Crowley" src="{{ ASSET_PATH }}/images/site/jcbm.jpg"></img>
	
	<span class="alignright">
	<div class="widget-area">
	<ul class="social">
		<li><a class="facebook" href="https://www.facebook.com/john.r.crowley">&#88;</a></li>
		<li><a class="twitter" href="https://twitter.com/jcrowley">&#95;</a></li>
		<li><a class="linkedin" href="http://www.linkedin.com/pub/john-crowley/2/431/b13/">&#118;</a></li>
		<li><a class="google" href="https://plus.google.com/102509083479943997512">&#107;</a></li>
    </ul>
	</div>
	</span>
	
	<!-- logos -->
    <a href="http://gfdrr.org"><img class="alignright" alt="STAR-TIDES" src="{{ ASSET_PATH }}/images/site/gfdrr_labs_grey200.png"></img></a>
	<a href="http://hhi.harvard.edu"><img class="alignright" alt="STAR-TIDES" src="{{ ASSET_PATH }}/images/site/hhi-logo-200.png"></img></a>
	<a href="http://star-tides.net"><img class="alignright" alt="STAR-TIDES" src="{{ ASSET_PATH }}/images/site/star_tides_logo_grey.png"></img></a>
	<a href="http://wilsoncommonslab.org/"><img class="alignright" alt="STAR-TIDES" src="{{ ASSET_PATH }}/images/site/wwics_logo_180.png"></img></a>


  </div>
</div>